// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// color variables
$yellow: #ffec1a;
$orange: #ff0d12;
$purple: #23034d;
$black: #000;
$white: #fff;
$grey: #e3e3e3;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";